<div class="banner">
  <div class="banner-content" fxLayoutAlign="center center">
    <h1>¿Buscando algo nuevo para leer?</h1>
  </div>
</div>

<div class=content>
  <h1 routerLink="/authors">Autores destacados</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque enim unde modi non eius nihil, sapiente voluptatum ipsum at dolorem natus, rerum cumque dignissimos vitae culpa maxime, tenetur quasi?</p>
  <h1 routerLink="/books">Libros destacados</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque enim unde modi non eius nihil, sapiente voluptatum ipsum at dolorem natus, rerum cumque dignissimos vitae culpa maxime, tenetur quasi?</p>
  <h1>Reviews destacadas</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque enim unde modi non eius nihil, sapiente voluptatum ipsum at dolorem natus, rerum cumque dignissimos vitae culpa maxime, tenetur quasi?</p>
  <h1>Quotes destacados</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque enim unde modi non eius nihil, sapiente voluptatum ipsum at dolorem natus, rerum cumque dignissimos vitae culpa maxime, tenetur quasi?</p>
</div>
