<div class="banner">
  <div class="banner-content" fxLayoutAlign="center center">
    <h1>¿Buscando algo nuevo para leer?</h1>
  </div>
</div>


<div fxLayout="row" fxLayout.lt-md="column">
  <mat-toolbar color="primary">
    <a style="color: white; text-decoration:none; padding-left:8px;" routerLink="/">Autores destacados de la comunidad</a>  
  </mat-toolbar>
</div>
<div class=content>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, dolores quod earum nesciunt repellendus iste amet cum vel quis provident suscipit quia eos accusamus! Quae fuga aspernatur harum optio beatae?</p>
</div>
<div fxLayout="row" fxLayout.lt-md="column">
  <mat-toolbar color="primary">
    <a style="color: white; text-decoration:none; padding-left:8px;" routerLink="/">Libros destacados de la comunidad</a>  
  </mat-toolbar>
</div>
<div class=content>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, dolores quod earum nesciunt repellendus iste amet cum vel quis provident suscipit quia eos accusamus! Quae fuga aspernatur harum optio beatae?</p>
</div>
