<mat-card class="author-card" *ngIf="author">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{author.name}} {{author.surname}}</mat-card-title>
      <mat-card-subtitle>{{author.dateOfBirth}} / {{(author.dateOfDeath === "") ? 'Actualidad' : author.dateOfDeath }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.mhpbooks.com/uploads/2013/10/AVT_Georges-Perec_2570.jpeg" alt="author">
    <br>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos personales
            </mat-panel-title>
            <mat-panel-description>
              {{author.name}} {{author.surname}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Nombre: {{author.name}}.</p>
          <p>Apellido: {{author.surname}}.</p>
          <p>Fecha de nacimiento: {{author.dateOfBirth}}.</p>
          <p>Fecha de defunción: {{(author.dateOfDeath === "") ? 'Aún vive' : author.dateOfDeath }}.</p>
          <p>Género: {{(author.gender === 'M') ? 'Masculino.' : 'Femenino.'}}</p>
          <p>Nacionalidad: {{author.nationality}}.</p>
          <p>Lengua materna: {{author.language}}.</p>
          <p style="width: 300px;">Ocupación: {{author.ocupation}}.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Libros publicados
            </mat-panel-title>
            <mat-panel-description>
              Una lista de los mejores títulos de {{author.surname}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>IMPLEMENTAR</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Reviews de usuarios
              </mat-panel-title>
              <mat-panel-description style="width: 300px;">
                Las opiniones de la comunidad sobre {{author.surname}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>IMPLEMENTAR</p>
          </mat-expansion-panel>
        </mat-accordion>
    <!--<mat-card-actions>
      <button mat-button>Hola</button>
    </mat-card-actions>-->
</mat-card>