<div fxLayout="row" fxLayout.lt-md="column">
  <mat-toolbar color="primary">
    <a style="color: white; text-decoration:none; padding-left:8px;" routerLink="/">Una vista en detalle de <span class="italic">{{book.title}}</span></a>

    <button mat-icon-button class="icon">
      <mat-icon (click)="edit(book._id)" aria-label="Edit">mode_edit</mat-icon>
    </button>

    <button mat-icon-button class="edit">
      <mat-icon (click)="delete(book._id)">delete</mat-icon>
    </button>
    
    <span class="fill-remaining-space"></span>

    <button *ngIf="isAuth" mat-raised-button color="accent" class="icon" (click)="addToLibrary()">AGREGAR A MI BIBLIOTECA</button>

  </mat-toolbar>
</div>
<div class="wrapper">
  <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div fxFlex="20">
      <br>
      <mat-card class="book-card">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + book.image + ')', 'background-size': 'cover'  }"></div>
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.author.name}} {{book.author.surname}}</mat-card-subtitle>
          <hr class="separator">
          <mat-card-actions *ngIf="isAuth">
            <button mat-icon-button color="primary" (click)="likeBook(book.likes)">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-header>
        <img mat-card-image src="{{book.image}}" alt="{{book.title}}">
        <br>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos
              </mat-panel-title>
              <mat-panel-description>
                {{ (panelOpenState) ? "Un excelente libro" : book.title }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li>
                ISBN: {{book.isbn}}.
              </li>
              <li>
                Autor: {{book.author.name}} {{book.author.surname}}.
              </li>
              <li>
                Género: {{book.genre}}.
              </li>
              <li>
                Descripción: {{book.description}}
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </mat-card>
      <br>

      <mat-card *ngIf="isAuth"fxLayoutAlign="center center" fxLayout="column">   
          <mat-card-header>
            <mat-card-title>
              Agregar "{{book.title}}" a la biblioteca de un colaborador.
            </mat-card-title>
            <mat-card-subtitle>
              Si tenés conocimiento sobre algún autor que haya colaborado en este libro, ¡agregalo a su biblioteca! 
              <br><br>
              <i style="font-size: 11px">(Esto no afectará la referencia al autor principal de este libro)</i>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px" #g="ngForm" (ngSubmit)="addToAuthor(g)">     
            <mat-form-field>
              <mat-select placeholder="Seleccione un autor" ngModel name="author">
                <mat-option *ngFor="let author of authors" [value]="author._id">
                  {{author.name}} {{author.surname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="g.invalid">AGREGAR LIBRO</button>
          </form>    
        </mat-card-content>
      </mat-card>
      <br>
    </div>

    <div fxFlex="1"></div>
    <div fxLayout="column" fxFlex="79">
      <br>
      <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div fxFlex="50">
          <mat-card class="quote-card">
            <mat-card-header>
              <mat-card-title>Frases destacadas de
                <span class="italic">{{book.title}}</span>
              </mat-card-title>
              <mat-card-subtitle>Los fragmentos más logrados del libro, que permanecen en la memoria de sus lectores</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="book.quotes.length == 0">
                <p>Este autor no tene frases publicadas :(</p>
                <p>¡Agrega una!</p>
            </mat-card-content>
            <mat-card-content>
              <div *ngFor="let q of book.quotes" flex fxLayout="column">
                <div flex fxLayout="row">
                  <mat-card>
                    <mat-card-header class="italic">
                      <mat-card-title>"{{q.quote}}"</mat-card-title>
                      <mat-card-subtitle>Publicado por {{q.user}}</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <br>
              </div>
            </mat-card-content>
            <div flex fxLayout="row-reverse">
              <mat-card-actions>
                <button mat-mini-fab color="primary" (click)="newQuote(book._id, 'book')" mat-button>+</button>
              </mat-card-actions>
            </div>
          </mat-card>
          <br>
        </div>
        <div fxFlex="1"></div>
        <div fxFlex="49">
          <mat-card class="quote-card">
            <mat-card-header>
              <mat-card-title>Reviews de la comunidad
                <span class="italic">BetterReads</span> sobre
                <span class="italic">{{book.title}}</span>
              </mat-card-title>
              <mat-card-subtitle>La opinión de nuestros usuarios sobre {{book.title}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="book.reviews.length == 0">
                <p>Este autor no tene reviews publicadas :(</p>
                <p>¡Agrega una!</p>
              </mat-card-content>
            <mat-card-content>
              <div *ngFor="let r of book.reviews" flex fxLayout="column">
                <div flex fxLayout="row">
                  <mat-card>
                    <mat-card-header class="italic">
                      <mat-card-title>"{{r.comment}}"</mat-card-title>
                      <mat-card-subtitle>Publicado por {{r.user}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>{{r.stars}} de 5 estrellas.</p>
                    </mat-card-content>
                  </mat-card>
                </div>
                <br>
              </div>
            </mat-card-content>
            <div flex fxLayout="row-reverse">
              <mat-card-actions>
                <button mat-mini-fab color="primary" (click)="newReview(book._id, 'book')" mat-button>+</button>
              </mat-card-actions>
            </div>
          </mat-card>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>