<mat-toolbar color="primary" class="mat-elevation-z3">
    <a class="brand" routerLink="/">betterReads</a>

    <ul fxLayout fxLayoutGap="5px">
      <li><a routerLink="/authors" mat-button><i class="material-icons">face</i> Autores</a></li>
      <li><a routerLink="/books" mat-button><i class="material-icons">book</i> Libros</a></li>
    </ul>

    <span class="example-fill-remaining-space"></span>

    <ul fxLayout>
      <li>
        <a href="https://github.com/julianpoma/betterReads/wiki" target="_blank" mat-icon-button><mat-icon>code</mat-icon></a>
      </li>
    </ul>
</mat-toolbar>