mat-toolbar {
    position: relative;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.brand {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.greetings {
    margin-right: 20px;
}