<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"><a class="brand" routerLink="/">betterReads</a></span>
    <span class="example-spacer"></span>
          
    <button mat-button>Sobre nosotros</button>
    <button mat-button>API <i class="material-icons">code</i></button>
    <button mat-button routerLink="/authors">Autores<i class="material-icons">face</i></button>
    <button mat-button routerLink="/books">Libros <i class="material-icons">book</i></button>
    <button mat-button>Reseñas <i class="material-icons">comment</i></button>
    <button mat-button>Frases <i class="material-icons">format_quote</i></button>
    <button mat-button>Nombre de usuario <i class="material-icons">person</i></button>
  </mat-toolbar-row>
</mat-toolbar>
