<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space">betterReads - La comunidad más grande de lectores y autores</span>
    <span class="example-spacer"></span>

    <button mat-button>Sobre nosotros</button>
    <button mat-button>API <i class="material-icons">code</i></button>
    <button mat-button><i class="material-icons">book</i>Libros</button>
    <button mat-button>Autores <i class="material-icons">face</i></button>
    <button mat-button>Reseñas <i class="material-icons">comment</i></button>
    <button mat-button>Frases <i class="material-icons">format_quote</i></button>
    <button mat-button>Nombre de usuario <i class="material-icons">person</i></button>
  </mat-toolbar-row>
</mat-toolbar>